@import "custom/grades/grade_23";
@import "source/variables";
@import "source/colors";
@import "source/mixins";
@import "source/_functions";
@import "source/icons/icon-map";
@import "source/_icons";

/* NOTES 
- focus state disabled in Source.css
- margin l/r removed in source.css
*/


:root {
    // Colors
    --focus: #{color-code($cerise-s40)};
    --shadow-r: #{nth($cool-gray-c65, 1)};
    --shadow-g: #{nth($cool-gray-c65, 2)};
    --shadow-b: #{nth($cool-gray-c65, 3)};
    
    --slate-dark: #39649B;
    --slate-medium: #5497C9;
    --slate-light: #B0CFE6;
    --slate-accent: #E4EDF7;

    --blue-dark: #2461B5;
    --blue-medium: #{color-code($blue-s40)};
    --blue-light: #A1C8FF;
    --blue-accent: #BAF1FB;

    --green-dark: #007B00;
    --green-medium: #{color-code($green-s40)};
    --green-light: #8AD98A;
    --green-accent: #D2F7AE;

    --gray-dark: #5A5C5C;
    --gray-medium: #{color-code($gray-c45)};
    --gray-light: #C4C6C6;
    --gray-accent: #D2F7AE;

    --golden-dark: #E49929;
    --golden-medium: #{color-code($golden-s30)};
    --golden-light: #FFD601;

    // Borders
    --border-xs: 0 0 0 .0625rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --border-sm: 0 0 0 .125rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --border-md: 0 0 0 .1825rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --border-lg: 0 0 0 .25rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --border-xl: 0 0 0 .3125rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);

    // Default States
    --default-xs: 0 0 0 .0625rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15), 0 .125rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);
    --default-sm: 0 0 0 .125rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15), 0 .25rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);
    --default-md: 0 0 0 .1825rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15), 0 .375rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);
    --default-lg: 0 0 0 .25rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15), 0 .5rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);
    --default-xl: 0 0 0 .3125rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15), 0 .625rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);

    // Hover States
    --hover-xs: 0 0 0 .0625rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15), 0 .375rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);
    --hover-sm: 0 0 0 .125rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15), 0 .5rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);
    --hover-md: 0 0 0 .1825rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15), 0 .625rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);
    --hover-lg: 0 0 0 .25rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15), 0 .75rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);
    --hover-xl: 0 0 0 .3125rem rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15), 0 .875rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);
    
    // Inset Shadows
    --inset-down-xs: inset 0 -.125rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --inset-down-sm: inset 0 -.25rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --inset-down-md: inset 0 -.375rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --inset-down-lg: inset 0 -.5rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --inset-down-xl: inset 0 -.625rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --inset-up-xs: inset 0 .125rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --inset-up-sm: inset 0 .25rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --inset-up-md: inset 0 .375rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --inset-up-lg: inset 0 .5rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    --inset-up-xl: inset 0 .625rem 0 0 rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
    
    // Focus States
    --focus-xs: 0 0 0 .0625rem var(--focus), 0 .125rem 0 0 var(--focus);
    --focus-sm: 0 0 0 .125rem var(--focus), 0 .25rem 0 0 var(--focus);
    --focus-md: 0 0 0 .1825rem var(--focus), 0 .375rem 0 0 var(--focus);
    --focus-lg: 0 0 0 .25rem var(--focus), 0 .5rem 0 0 var(--focus);
    --focus-xl: 0 0 0 .3125rem var(--focus), 0 .625rem 0 0 var(--focus);
}

@font-face {
    font-family: "Avenir Primary";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url("fonts/avenirprimaryhmh.otf");
}

@font-face {
    font-family: "Avenir Primary";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url("fonts/avenirprimaryhmh-bold.otf");
}

* {
    font-family: "Avenir Primary", sans-serif;
}

body {
    align-items: center;
}
  
div {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    border-radius: 30px;
    grid-column: span 3;
}

button, input {
    margin-top: 30px;
    grid-column: span 3;
}

.border-xs {
    box-shadow: var(--border-xs)
}

.border-sm {
    box-shadow: var(--border-sm)
}

.border-md {
    box-shadow: var(--border-md)
}

.border-lg {
    box-shadow: var(--border-lg)
}

.border-xl {
    box-shadow: var(--border-xl)
}

.default-xs {
    box-shadow: var(--default-xs)
}

.default-sm {
    box-shadow: var(--default-sm)
}

.default-md {
    box-shadow: var(--default-md)
}

.default-lg {
    box-shadow: var(--default-lg)
}

.default-xl {
    box-shadow: var(--default-xl)
}

.hover-xs {
    box-shadow: var(--hover-xs)
}

.hover-sm {
    box-shadow: var(--hover-sm)
}

.hover-md {
    box-shadow: var(--hover-md)
}

.hover-lg {
    box-shadow: var(--hover-lg)
}

.hover-xl {
    box-shadow: var(--hover-xl)
}

.focus-xs {
    box-shadow: var(--focus-xs)
}

.focus-sm {
    box-shadow: var(--focus-sm)
}

.focus-md {
    box-shadow: var(--focus-md)
}

.focus-lg {
    box-shadow: var(--focus-lg)
}

.focus-xl {
    box-shadow: var(--focus-xl)
}

.inset-up-xs {
    box-shadow: var(--inset-up-xs)
}

.inset-up-sm {
    box-shadow: var(--inset-up-sm)
}

.inset-up-md {
    box-shadow: var(--inset-up-md)
}

.inset-up-lg {
    box-shadow: var(--inset-up-lg)
}

.inset-up-xl {
    box-shadow: var(--inset-up-xl)
}

.inset-down-xs {
    box-shadow: var(--inset-down-xs)
}

.inset-down-sm {
    box-shadow: var(--inset-down-sm)
}

.inset-down-md {
    box-shadow: var(--inset-down-md)
}

.inset-down-lg {
    box-shadow: var(--inset-down-lg)
}

.inset-down-xl {
    box-shadow: var(--inset-down-xl)
}

button {
    height: 5rem;
    border-radius: 2.5rem;
    // background: white;
    width: fit-content;
    border: .5rem solid white;
    box-shadow: var(--border-sm), var(--inset-down-sm);
    padding: 0;
    cursor: pointer;
    position: relative;
    @include para-size($body-md);
    background-color: var(--blue-medium);
    background-image: url('images/shine.svg');
    background-position: calc(100% - 10px) 10px;
    background-repeat: no-repeat;
    font-weight: 700;
    color: white;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;

    &:hover {
        box-shadow: var(--hover-sm), var(--inset-down-sm);
        transform: scale(1.15);
    }

    &:focus-visible {
        box-shadow: var(--focus-sm), var(--inset-down-sm);
        outline: none;
    }

    &.active {
        background-color: var(--blue-dark);
    }

    &.correct {
        background-color: var(--slate-light);
        color: var(--slate-dark);
    }

    &.icon-text {
        padding: .75rem 1.5rem .75rem .75rem;

        img {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            margin-right: .75rem;
        }
    }

    &.icon-only {
        width: 5rem;
            padding: .75rem;

        img {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

input {
    height: 4.625rem;
    border-radius: 1.5rem;
    border: 0;
    background: var(--blue-accent);
    border: .5rem solid white;
    box-shadow: var(--border-sm), inset 0 0 0 .25rem var(--blue-medium), var(--inset-up-lg);
    padding: 0 1rem;
    @include para-size($body-md);
    font-weight: 700;
    position: relative;

    &:hover {
        box-shadow: var(--hover-sm), inset 0 0 0 .25rem var(--blue-medium), var(--inset-up-lg);
    }

    &:focus {
        background: white;
    }

    &:focus-visible {
        box-shadow: var(--focus-sm), inset 0 0 0 .25rem var(--blue-medium), var(--inset-up-lg);
        outline: none;
    }

    &.correct {
        
    }
}