@import "source/colors";
@import "source/mixins";
@import "source/_functions";
@import "custom/grades/grade_68";
@import "source/variables";
@import "source/grid";
@import "source/icons/icon-map";
@import "source/_icons";



/* || 0.0 SOURCE INTEGRATION */

/* || 0.1 Reset */ 

html {
    font-size: unset;
}

body {
    padding: 0;
    display: block;
}

.rown, .main, .feature, .wide {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: unset;
}

.main, .feature, .wide, .fill {
     justify-content: unset; 
}



/* || 0.2 Source Grid intergration */ 

#root {
    @extend .source__grid;
    grid-template-columns: unset;
    grid-auto-columns: calc((100vw - var(--gutter-width) * 2) / 12);

}

#wrapper {
    width: unset;
    margin: 0;
 
    @include respond-md {
        margin: 0 var(--half-lheight);
    }

    @include respond-lg {
        margin: 0 var(--half-lheight);
    }
}



/* || 0.3 Control Buttons */

.audio-controls {
    order: 1;
}
.widget-controls {
    order: 2;
}

.audio-controls, .widget-controls {
    width: unset;
    margin-bottom: 0;
    
    > section {
       padding: 0; 
       display: flex;
    }
}

.controls-button-wrapper {
    width: unset;
    height: unset;
    
    button, button:enabled {
        height: calc(var(--half-lheight) + var(--quart-lheight));
        width: calc(var(--base-lheight) + var(--quart-lheight));
        border-radius: calc((var(--half-lheight) + var(--quart-lheight)) / 2);
        display: block;
        background-position: center center;
        margin-right: var(--quart-lheight);
        position: relative;
        border: 0;
        background-color: color-code($gray-c10);
        
        .focusable {
            width: unset;
            height: unset;
            right: 0;
            bottom: 0;
            border-radius: inherit;
        }
        
        &:hover {
            background-color: color-code($gray-c15);
        }
    }
}

:not(.rce) .theme-tool-gray .non-rce-audio-controls button, :not(.rce) .theme-tool-gray .audio-controls button, :not(.rce) .theme-tool-gray .widget-controls button {
    background-color: color-code($gray-c10);
}

.anatomy-main {
    flex-basis: 100%;
    order: 3;
    margin-top: var(--quart-lheight);
}



/* || 0.4 Layout */

// Default styles can be overridden

#wrapper {
    grid-column: span 12;
    
    @include respond-md {
        grid-column: span 8;
    }
    @include respond-lg {
        grid-column: span 6;
    }
}



/* || 0.5 Anatomy Styling */

// Provisional text size and spacing

.anatomy-title {
    @include head-size($heading-sm);
    h6, p {
        @include head-size($heading-sm);
    }
}

.anatomy-stem, .interaction-area, .ql-container, .anatomy-feedback, .anatomy-feedback-canned-response {
    @include para-size($body-md);
    p {
        @include para-size($body-md);
    }
}

.anatomy-title, .anatomy-stem, .anatomy-feedback-area, .sample-answer-content, .short-text-container .text-editor, .button-container {
    padding: var(--quart-lheight) var(--half-lheight);
}

.anatomy-feedback-area {
    button {
        margin: 0;
        height: fit-content;
    }
}

.button-panel {
    align-items: center;
}

.form-container {
    padding: var(--half-lheight);
}

.feedback-button {
    min-height: unset;
    @include para-size($caption);
    
    .focusable {
        padding: var(--quart-lheight) var(--half-lheight);
    }
}



/* || 1.0 Themes */


// Template for theme creation: 
// #wrapper[class*="theme-name"] { }

#wrapper[class*="venn-diagram"] {
    grid-column: span 12; // span 12
    
    &:nth-of-type(2){
        grid-column: 2 / span 12;
    }

    &:nth-of-type(3){
        grid-column: 2 / span 12;
    }

    @include respond-md {
        grid-column: span 10;
    }
    
    @include respond-lg {
        grid-column: span 4;
    }
}